.container {
  background-color: var(--color-primary);
  color: var(--color-light);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 320px;
  background-color: var(--color-primary);
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.hr {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.title {
  color: var(--color-accent);
  margin-top: 1rem;
  font-weight: 700;
}

.subtitle {
  font-weight: 600;
  margin-bottom: 1rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 0.8rem;
}

.input {
  padding: 0.8rem;
  border-radius: 20px;
  border: none;
  outline: none;
  width: 100%;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.button {
  margin-top: 0.5rem;
  background-color: var(--color-accent);
  border-radius: 20px;
  padding: 0.8rem;
  font-weight: bold;
  color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--color-secondary);
}
